body{
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    

}

.row{
    position: relative;
    align-content: center;
    left: 175px;
    
    
}


#output1{
    font-size: 25px;
}